In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

In [2]:
app = Flask(__name__)


# Configure the app to connect to your sqlite database.
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/bellybutton.sqlite"
db = SQLAlchemy(app)

# reflect database to existing model
Base = automap_base()
#reflect tables from the database
Base.prepare(db.engine, reflect=True)

# Save references to each table
Samples_Metadata = Base.classes.sample_metadata
Samples = Base.classes.samples

C:\Users\Rafael\Anaconda3\envs\PythonData\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [3]:
inspector = inspect(db.engine)
# inspector.get_table_names()

columns = inspector.get_columns('sample_metadata')
for column in columns:
    print(column["name"], column["type"])

sample INTEGER
EVENT TEXT
ETHNICITY TEXT
GENDER TEXT
AGE REAL
WFREQ REAL
BBTYPE TEXT
LOCATION TEXT
COUNTRY012 TEXT
ZIP012 TEXT
COUNTRY1319 TEXT
ZIP1319 TEXT
DOG TEXT
CAT TEXT
IMPSURFACE013 REAL
NPP013 REAL
MMAXTEMP013 REAL
PFC013 REAL
IMPSURFACE1319 TEXT
NPP1319 REAL
MMAXTEMP1319 REAL
PFC1319 REAL

In [4]:
dict(db.engine.execute("select * from sample_metadata").first())

{'sample': 940,
 'EVENT': 'BellyButtonsScienceOnline',
 'ETHNICITY': 'Caucasian',
 'GENDER': 'F',
 'AGE': 24.0,
 'WFREQ': 2.0,
 'BBTYPE': 'I',
 'LOCATION': 'Beaufort/NC',
 'COUNTRY012': 'usa',
 'ZIP012': '22306',
 'COUNTRY1319': 'usa',
 'ZIP1319': '22306',
 'DOG': 'no',
 'CAT': 'no',
 'IMPSURFACE013': 8852.0,
 'NPP013': 37.17222214,
 'MMAXTEMP013': 54.5,
 'PFC013': None,
 'IMPSURFACE1319': '1',
 'NPP1319': None,
 'MMAXTEMP1319': 33.99000168,
 'PFC1319': 25.5}

In [5]:
columns = inspector.get_columns('sample_metadata')
for column in columns:
    print(column["name"], column["type"])

sample INTEGER
EVENT TEXT
ETHNICITY TEXT
GENDER TEXT
AGE REAL
WFREQ REAL
BBTYPE TEXT
LOCATION TEXT
COUNTRY012 TEXT
ZIP012 TEXT
COUNTRY1319 TEXT
ZIP1319 TEXT
DOG TEXT
CAT TEXT
IMPSURFACE013 REAL
NPP013 REAL
MMAXTEMP013 REAL
PFC013 REAL
IMPSURFACE1319 TEXT
NPP1319 REAL
MMAXTEMP1319 REAL
PFC1319 REAL

In [6]:
dict(db.engine.execute("select * from samples").first())

{'otu_id': 1,
 'otu_label': 'Archaea;Euryarchaeota;Halobacteria;Halobacteriales;Halobacteriaceae;Halococcus',
 '940': 0,
 '941': 0,
 '943': 0,
 '944': 0,
 '945': 0,
 '946': 0,
 '947': 0,
 '948': 0,
 '949': 0,
 '950': 0,
 '952': 0,
 '953': 0,
 '954': 0,
 '955': 0,
 '956': 0,
 '958': 0,
 '959': 0,
 '960': 0,
 '961': 0,
 '962': 0,
 '963': 0,
 '964': 0,
 '966': 1,
 '967': 0,
 '968': 0,
 '969': 0,
 '970': 0,
 '971': 0,
 '972': 0,
 '973': 0,
 '974': 0,
 '975': 0,
 '978': 0,
 '1233': 0,
 '1234': 0,
 '1235': 0,
 '1236': 0,
 '1237': 0,
 '1238': 0,
 '1242': 0,
 '1243': 0,
 '1246': 0,
 '1253': 0,
 '1254': 0,
 '1258': 0,
 '1259': 0,
 '1260': 0,
 '1264': 0,
 '1265': 0,
 '1273': 0,
 '1275': 0,
 '1276': 0,
 '1277': 0,
 '1278': 0,
 '1279': 0,
 '1280': 0,
 '1281': 0,
 '1282': 0,
 '1283': 0,
 '1284': 0,
 '1285': 0,
 '1286': None,
 '1287': 0,
 '1288': 0,
 '1289': 0,
 '1290': 0,
 '1291': 0,
 '1292': 0,
 '1293': 0,
 '1294': 0,
 '1295': 0,
 '1296': 0,
 '1297': 0,
 '1298': 0,
 '1308': 0,
 '1309': 0,
 '1310': 0,
 '1374': 0,
 '1415': 0,
 '1439': 0,
 '1441': 0,
 '1443': 0,
 '1486': 0,
 '1487': 0,
 '1489': 0,
 '1490': 0,
 '1491': 0,
 '1494': 0,
 '1495': 0,
 '1497': 0,
 '1499': 0,
 '1500': 0,
 '1501': 0,
 '1502': 0,
 '1503': 0,
 '1504': 0,
 '1505': 0,
 '1506': 0,
 '1507': 0,
 '1508': 0,
 '1510': 0,
 '1511': 0,
 '1512': 0,
 '1513': 0,
 '1514': 0,
 '1515': 0,
 '1516': 0,
 '1517': 0,
 '1518': 0,
 '1519': 0,
 '1521': 0,
 '1524': 0,
 '1526': 0,
 '1527': 0,
 '1530': 0,
 '1531': 0,
 '1532': 0,
 '1533': 0,
 '1534': 0,
 '1535': 0,
 '1536': 0,
 '1537': 0,
 '1539': 0,
 '1540': 0,
 '1541': 0,
 '1542': 0,
 '1543': 0,
 '1544': 0,
 '1545': 0,
 '1546': 0,
 '1547': 0,
 '1548': 0,
 '1549': 0,
 '1550': 0,
 '1551': 0,
 '1552': 0,
 '1553': 0,
 '1554': 0,
 '1555': 0,
 '1556': 0,
 '1557': 0,
 '1558': 0,
 '1561': 0,
 '1562': 0,
 '1563': 0,
 '1564': 0,
 '1572': 0,
 '1573': 0,
 '1574': 0,
 '1576': 0,
 '1577': 0,
 '1581': 0,
 '1601': 0}

In [15]:
stmt = db.session.query(Samples).statement
print(stmt)
print("-----------------------------------------\n")
print(Samples)
df = pd.read_sql_query(stmt, db.session.bind)
df.head()

SELECT samples.otu_id, samples.otu_label, samples."940", samples."941", samples."943", samples."944", samples."945", samples."946", samples."947", samples."948", samples."949", samples."950", samples."952", samples."953", samples."954", samples."955", samples."956", samples."958", samples."959", samples."960", samples."961", samples."962", samples."963", samples."964", samples."966", samples."967", samples."968", samples."969", samples."970", samples."971", samples."972", samples."973", samples."974", samples."975", samples."978", samples."1233", samples."1234", samples."1235", samples."1236", samples."1237", samples."1238", samples."1242", samples."1243", samples."1246", samples."1253", samples."1254", samples."1258", samples."1259", samples."1260", samples."1264", samples."1265", samples."1273", samples."1275", samples."1276", samples."1277", samples."1278", samples."1279", samples."1280", samples."1281", samples."1282", samples."1283", samples."1284", samples."1285", samples."1286", samples."1287", samples."1288", samples."1289", samples."1290", samples."1291", samples."1292", samples."1293", samples."1294", samples."1295", samples."1296", samples."1297", samples."1298", samples."1308", samples."1309", samples."1310", samples."1374", samples."1415", samples."1439", samples."1441", samples."1443", samples."1486", samples."1487", samples."1489", samples."1490", samples."1491", samples."1494", samples."1495", samples."1497", samples."1499", samples."1500", samples."1501", samples."1502", samples."1503", samples."1504", samples."1505", samples."1506", samples."1507", samples."1508", samples."1510", samples."1511", samples."1512", samples."1513", samples."1514", samples."1515", samples."1516", samples."1517", samples."1518", samples."1519", samples."1521", samples."1524", samples."1526", samples."1527", samples."1530", samples."1531", samples."1532", samples."1533", samples."1534", samples."1535", samples."1536", samples."1537", samples."1539", samples."1540", samples."1541", samples."1542", samples."1543", samples."1544", samples."1545", samples."1546", samples."1547", samples."1548", samples."1549", samples."1550", samples."1551", samples."1552", samples."1553", samples."1554", samples."1555", samples."1556", samples."1557", samples."1558", samples."1561", samples."1562", samples."1563", samples."1564", samples."1572", samples."1573", samples."1574", samples."1576", samples."1577", samples."1581", samples."1601"
FROM samples
-----------------------------------------

<class 'sqlalchemy.ext.automap.samples'>

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
list(df.columns[2:])

['otu_id',
 'otu_label',
 '940',
 '941',
 '943',
 '944',
 '945',
 '946',
 '947',
 '948',
 '949',
 '950',
 '952',
 '953',
 '954',
 '955',
 '956',
 '958',
 '959',
 '960',
 '961',
 '962',
 '963',
 '964',
 '966',
 '967',
 '968',
 '969',
 '970',
 '971',
 '972',
 '973',
 '974',
 '975',
 '978',
 '1233',
 '1234',
 '1235',
 '1236',
 '1237',
 '1238',
 '1242',
 '1243',
 '1246',
 '1253',
 '1254',
 '1258',
 '1259',
 '1260',
 '1264',
 '1265',
 '1273',
 '1275',
 '1276',
 '1277',
 '1278',
 '1279',
 '1280',
 '1281',
 '1282',
 '1283',
 '1284',
 '1285',
 '1286',
 '1287',
 '1288',
 '1289',
 '1290',
 '1291',
 '1292',
 '1293',
 '1294',
 '1295',
 '1296',
 '1297',
 '1298',
 '1308',
 '1309',
 '1310',
 '1374',
 '1415',
 '1439',
 '1441',
 '1443',
 '1486',
 '1487',
 '1489',
 '1490',
 '1491',
 '1494',
 '1495',
 '1497',
 '1499',
 '1500',
 '1501',
 '1502',
 '1503',
 '1504',
 '1505',
 '1506',
 '1507',
 '1508',
 '1510',
 '1511',
 '1512',
 '1513',
 '1514',
 '1515',
 '1516',
 '1517',
 '1518',
 '1519',
 '1521',
 '1524',
 '1526',
 '1527',
 '1530',
 '1531',
 '1532',
 '1533',
 '1534',
 '1535',
 '1536',
 '1537',
 '1539',
 '1540',
 '1541',
 '1542',
 '1543',
 '1544',
 '1545',
 '1546',
 '1547',
 '1548',
 '1549',
 '1550',
 '1551',
 '1552',
 '1553',
 '1554',
 '1555',
 '1556',
 '1557',
 '1558',
 '1561',
 '1562',
 '1563',
 '1564',
 '1572',
 '1573',
 '1574',
 '1576',
 '1577',
 '1581',
 '1601']